*{
    margin: 0;
    padding: 0;
    /* color-scheme: dark; */
}

body{
    padding: 0 4vw;
    /* background-color: #01180a; */
    background-color: #08272e;
    /* background-color: #2c0047; */
    /* background-color: #1c002d; */
    /* background-color: #100325; */
    /* background-color: #140d1d; */
    /* background-color: #101720; */
    /* background-color: #0a2632; */
    color: #fffff0;
}
.navbar{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-shrink: 2 ;
    justify-content: space-between;
    place-items: center;
    margin: 3rem auto ;
    text-transform: capitalize;
    font-size: 1.25vmax;
    font-family: cursive;
}

.logo{
    height: 2rem;
    display: flex;
    /* width: 15rem; */
    place-items: center;
    place-content: center;


}
.logo img{
    /* margin: 1rem auto; */
    height: 2.5vmax;
    /* width: 15rem; */
}

.navlinks{
    display: flex;
    flex-direction: row;
    gap: 5rem;
    list-style: none;
    text-align: center;
    /* font-size: 1.75rem; */
    /* place-content: center;
    place-items: center;  gets problem in responsive */
}

.pr0file{
    font-size: 1.75rem;
}

/* ----------------------------------slider css------------------------------------------------- */
/* ----------------------------------slider css complete------------------------------------------------- */


.banner img{
    margin:  auto;
    height: 50vh;
    width: 100%;
    background-color: rgba(0, 0, 255, 0.301);
    border-radius: 2rem;
}

.section{
    text-transform: capitalize;
    margin: 3.5rem auto;
}
.section_title{
    font-size: 2.5rem;
    margin: 1rem auto;
}



.cardeck{
    display: flex;
    flex-direction: row;
    overflow-x:scroll;
    gap: 1.5rem;
    margin: 1rem auto;
    padding: 1.5rem;
}

.cardeck a {
    text-decoration: none;
    list-style: none;
    color: beige;
    
}

.item_card{
    display:flex;
    flex-direction: column;
    flex-shrink: 0;
    gap: 1rem;
    height: unset;
    width: 14rem;
    /* height: 34rem;
    width: 21rem; optional*/
    padding: 1.5rem;
    font-family: cursive;
    border: 2px ridge rgba(0, 34, 6, 0.98);
    /* background-color: #0e002d; */
    /* background-color: #0c0b15; */
    background-color: #26555d;
    border-radius: 1.5rem;
}


.item_card:hover{
    box-shadow: 0 0 7px 1px #908e8e;
    transition:  ease 400ms;
}

.anime_img img{
    height: 17rem;
    /* height: 27rem; */
    width: 100%;
    border-radius: 1.25rem;
    box-shadow: 0 0 3px 3px #121111;
}

.anime_name{
    font-size: 1.25rem;
}
