
*{
    margin: 0;
    padding: 0;
    /* font-family: cursive; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* color-scheme: dark; */
}

body{
    padding: 0 4vw;
    /* background-color: #032310; */
    background-color: #2c0047;
    /* background-color: #1c002d; */
    /* background-color: #100325; */
    /* background-color: #140d1d; */
    /* background-color: #101720; */
    /* background-color: #0a2632; */
    /* background-color: #08272e; */
    color: #fffff0;
}
.navbar{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-shrink: 2 ;
    justify-content: space-between;
    place-items: center;
    margin: 3vmax auto ;
    text-transform: capitalize;
    font-size: 1.45vmax;
    font-family: cursive;
}

.logo{
    height: 2vmax;
    display: flex;
    /* width: 15vmax; */
    place-items: center;
    place-content: center;


}
.logo img{
    /* margin: 1vmax auto; */
    height: 2.5vmax;
    /* width: 15vmax; */
}

.navlinks{
    display: flex;
    flex-direction: row;
    gap: 5vmax;
    list-style: none;
    text-align: center;
    /* font-size: 1.75vmax; */
    /* place-content: center;
    place-items: center;  gets problem in responsive */
}

.navlinks ul li a{
    text-decoration: none;
    color: whitesmoke;
}


/* ----------------------------------slider css------------------------------------------------- */

/* ----------------------------------slider css complete------------------------------------------------- */

/* .banner{
    margin: 3.5vmax auto;
    height: 35vmax;
    width: 100%;
    background-color: rgba(0, 0, 255, 0.301);
    border-radius: 2vmax;
} */


/* ----------------------------------hero section------------------------------------------------- */

.section{
    text-transform: capitalize;
    margin: 3.5vmax auto;
}
.section_title{
    font-size: 2.5vmax;
    margin: 1vmax auto;
}
.banner img{
    margin:  auto;
    height: 50vh;
    width: 100%;
    background-color: rgba(0, 0, 255, 0.301);
    border-radius: 2vmax;
}


/* -----------x-----------x------------hero section-------------x-----------------x ------------------- */



.cardeck{
    display: flex;
    flex-direction: row;
    overflow-x:scroll;
    gap: 1.75vmax;
    margin: 1vmax auto;
    padding: 1.5vmax;
}

.cardeck a {
    text-decoration: none;
    list-style: none;
    color: beige;
}

.item_card{
    display:flex;
    flex-direction: column;
    flex-shrink: 0;
    gap: 1vmax;
    height: 21vmax;
    width: 14vmax;
    /* height: 34vmax;
    width: 21vmax; optional*/
    padding: 1.5vmax;
    font-family: cursive;
    font-weight: 600;
    border: 0.15vmax solid rgba(255, 255, 255, 0.844);
    /* background-color: #0e002d; */
    /* background-color: #013038; */
    border-radius: 1.5vmax;
}

.item_card:hover{
    box-shadow: 0 0 0.80vmin 0.25vmin #908e8e;
    transition:  ease 400ms;
}

.anime_img img{
    height: 17vmax;
    width: 100%;
    border-radius: 1.25vmax;
    box-shadow: 0 0 5px 1.5px #121111;
    background-size: cover;
}

.anime_name{
    font-size: 1.25vmax;
}

#aboutus{
    margin: 6vmax auto;
    word-spacing: 0.15vmax;
    letter-spacing: 0.05vmax;
    line-height: 2.15vmax;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.aboutus{
    font-weight: 600;
    text-transform: capitalize;
    font-size: 3vmax;
    margin: 4vmax auto;
}

.abtus{
    font-size: 1.5vmax ;
    margin: 2vmax auto;
}
